.git
.github
node_modules
npm-debug.log
yarn-error.log
.env
.env.backup
.phpunit.result.cache
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
tests
README.md
SRS_APLIKASI_KLINIK_LALA.md
